<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dianfan.dao.mapper.admin.CouponMapper">
	
	<!-- 根据id删除卡券 -->
	<update id="delCouponByIds" parameterType="list">
		update t_cashcoupon set entkbn = 9 where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach>
	</update>
	
</mapper>















