<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dianfan.dao.mapper.admin.GoodsMapper">
	
	<update id="editGoods" parameterType="goods">
		update t_goods set 
			goodsname = #{goodsname}, 
			price = #{price}, 
			<if test="icon != null and icon != ''">icon = #{icon},</if>
			agentprofit = #{agentprofit}, 
			salerprofit = #{salerprofit}
		where goodsid = #{goodsid}
	</update>
	
	<!-- 批量删除模块 -->
	<update id="delGoods" parameterType="list">
		update t_goods set entkbn = 9 where goodsid in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
			#{item}
		</foreach>
	</update>
</mapper>















